#len()


*   len will count the length or number of elements from the list (for strings to count the number of characters)

In [13]:
num_list = [4,3,5,5,7,7,7]

In [14]:
print (num_list)

[4, 3, 5, 5, 7, 7, 7]

In [15]:
len(num_list)

7

In [16]:
num_set = {3,5,5,7,7,7}

In [17]:
print (num_set)

{3, 5, 7}

In [18]:
len (num_set)

3

len in the list and set shows a difference. shown from the len in the list that counts the entire inputted data, while the set shows len which only counts the unique ones.

In [10]:
string = "Data Science"

In [11]:
print (string)

Data Science

In [12]:
len (string)

12

len in the string will also count the number of spaces in it

#min() and max()

min() and max() to find out the min and max values ​​of a list

In [20]:
values = [10,3,4,4,7,7,7,0]

In [21]:
min (values)

0

In [22]:
max (values)

10

#count ()

count()
knowing how many times an object appears in the list

In [23]:
bali = [3,4,4,7,7,7]

In [24]:
bali.count (4)

2

In [25]:
work = "Data Science"

In [26]:
work.count ("a")

2

in brackets contains the value called to find the count

#merging and replication


merging use (+) and replication use (*)

In [28]:
terong = [3,4,4,7,7,7]

In [29]:
balado = ["d","a","t","a"]

In [30]:
terong + balado

[3, 4, 4, 7, 7, 7, 'd', 'a', 't', 'a']

the use of the plus sign will combine the values ​​contained in these variables

In [31]:
balado*2

['d', 'a', 't', 'a', 'd', 'a', 't', 'a']

the use of the sign (*) will replicate the value contained in the variable

(*) function can also used to initialize a list

In [32]:
kita = [3]*3

In [33]:
print(kita)

[3, 3, 3]

In [ ]:
len (tiga)

3

#range

*   function returns a series with a certain pattern to do repetition
*   to perform iterative (ex for) access to list elements, you can use the range() function in python
*   More detail about loop operations will be discussed in the loop and loop control module

range function can have 1-3 parameters
range with 1 parameter n: create a series of numbers starting from 0, as many as n numbers

In [ ]:
for i in range (3):
    print (i)

0
1
2

*   range with parameters n,p: create a series of numbers starting from n, until before p (number p does not follow)

*   often referred to as inclusive n (series starting with number n) and exclusive p (series not including numbers p)

In [ ]:
for i in range (2,7):
    print (i)

2
3
4
5
6

range with parameters n, p, q: create a series of numbers starting from n, until before p (numbers do not follow) with each element having a difference of q

In [ ]:
for i in range (0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range (2,8):
    print (i)

2
3
4
5
6
7

In [ ]:
for i in range (3,12,3):
    print (i)

3
6
9

the number that is in the third position has the definition to pass

so from the example above the number 3 shows the number is skipped by 3

#in and not in

to find out a value or object is in the list
this function will return a boolean value true or false

In [ ]:
kita = "aku dan kamu"

In [ ]:
"aku" in kita

True

In [ ]:
"dia" in kita

False

In [ ]:
"dia" not in kita

True

In [ ]:
bahagia = "selalu tersenyum"

In [ ]:
"tersenyum" in bahagia

True

In [ ]:
"tersenyum" not in bahagia

False

#assign values ​​to multiple variables

sometimes have variables and need to assign values ​​to those variables.
conventionally, you can mark variables; with the values, ​​you want one by one

In [34]:
agenda = ["belajar", "belajar data science", "mengenai materi python"]

In [ ]:
agenda [0]

'belajar'

In [ ]:
agenda_apa = agenda [0]

In [ ]:
print (agenda_apa)

belajar

In [ ]:
agenda [1]

'belajar data science'

In [ ]:
belajar_apa = agenda [1]

In [ ]:
print (belajar_apa)

belajar data science

In [35]:
agenda [2]

'mengenai materi python'

In [38]:
materi_apa = agenda [2]

In [39]:
print (materi_apa)

mengenai materi python

* python has a more practical way
* We can assign values ​​to multiple variables at once from list/tuple elements without needing to mark them one by one

In [ ]:
minuman = ("jus", "jus mangga", "manis")

In [ ]:
nama, jenis_minuman, rasa = minuman

In [ ]:
nama

'jus'

In [ ]:
print (jenis_minuman)

jus mangga

In [ ]:
rasa

'manis'

the use of an assignment to multi-variables can be used to swap the values ​​of two or more variable

In [ ]:
wajah, sifat = "menarik", "baik"

In [ ]:
wajah, sifat = sifat, wajah

In [ ]:
wajah

'baik'

sort ()

* sort() method: sort numbers or letter order
* this sort() method can sort a list

In [ ]:
nilai = [40,20,30,10,50]

In [ ]:
print (nilai)

{40, 10, 50, 20, 30}

In [ ]:
nilai.sort()

In [ ]:
print (nilai)

[10, 20, 30, 40, 50]

In [ ]:
siswa = ["calvin", "andi", "budi"]

In [ ]:
siswa.sort ()

In [ ]:
print (siswa)

['andi', 'budi', 'calvin']

the sort method cannot sort a list that has both strings and numbers in it

In [40]:
free = [12,13,"calvin", "andi", "budi"]

In [41]:
free.sort()

TypeError: ignored

the sort value method uses the order of capital letters (uppercase) to be preceded by lowercase letters (lowercase).

In [ ]:
nama = ["Budi", "calvin", "andi"]

In [ ]:
nama.sort()

In [ ]:
print(nama)

['Budi', 'andi', 'calvin']

* we can enter the keyword str.lower in the parameter
* this will make the sort method assume all objects are lowercase, without changing the original state of the object

In [ ]:
nama = ["Budi", "calvin", "andi"]

In [ ]:
nama.sort (key=str.lower)

In [ ]:
print (nama)

['andi', 'Budi', 'calvin']